.quickRoller {
  .connection {
    input, button {
      color: black;
    }
  }

  .instructions {
    font-style: italic;
  }

  .diceBoxWrapper {
    margin-top: 10px;
  }

  .box {
    background-color: #334454;
    opacity: 1;
  }
  .innerBox {
    padding: 5px;

    &:empty {
      display: none;
    }
  }

  .dieImage, .dieSideImage, .resultImage {
    width: 45px;
    height: 45px;
    margin: 1px 1px;
  }

  .removeFrom {
    margin: 0 0 0 10px;
  }
  .emptyHand {
    font-weight: bold;
    font-style: italic;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .diceActionsWrapper {
    margin: 10px 0 10px 10px;
  }
  .diceActions button {
    margin-right: 10px;
  }

  .diceResultImages {
    margin-left: 10px;
  }
  .diceResultDie {
    margin: 0 2px;
  }

  .diceResultStatImages {
    background-color: #78A0C7;
    padding: 5px;
    margin: 10px 10px;

    &:empty {
      display: none;
    }
  }

  .diceResultStats {
    font-size: 1.2em;
    margin: 0 20px;
  }
  .resultStatName {
    font-weight: bold;
    text-transform: capitalize;
  }
  .resultStatValue {
    margin-left: 5px;
  }
}
